.app-link {
  color: var(--text-color-dark);
  transition: all 0.2s ease-out;
  &:hover {
    color: var(--text-color-hover);
  }
}

.app-link-btn {
  transition: all 0.2s ease-out;
  border: 1px var(--color-orange) solid;
  font-weight: 500;
  color: var(--color-orange);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  &:hover {
    color: black;
    background-color: var(--color-orange);
  }
}
