.listen-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-layout {
    max-width: 600px;
    p {
      font-size: var(--font-size-base);
      margin-top: 1.5rem;
    }
  }
  .listen-playlist-container {
    width: 720px;
  }
  .listen-playlist {
    padding: 0.5rem;
    border: 1px var(--border-color-dark) solid;
    background-color: var(--bg-color-dark);
  }
}

@media (min-width: 1200px){
  .listen-container{
    flex-direction: column;
    gap: 2rem;
  }
}
