.overlay {
  border-image: linear-gradient(to top right, rgb(0, 0, 0), rgba(0, 0, 0, 0))
    fill 1;
}

.hero {
  background-image: url("../../../public/7a7117ea-ae42-467f-b47e-dc0c75c8ae72.jpeg");
  min-block-size: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .wrapper > span::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 30px;
    margin-right: 8px;
    vertical-align: middle;
    background: var(--color-orange);
  }

}

