.marquee-container {
  background-color: var(--bg-color-dark);
  overflow: hidden;
  border: 1px var(--border-color-dark) solid;
}

.marquee-track {
  display: flex;
  width: max-content;
  gap: 50px;
  --duration: 45s;
  animation: marquee var(--duration) linear infinite;
}

.marquee-list {
  display: flex;
  gap: 50px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
