.calendar-container{
  display: flex;
  flex-direction: column;
  flex: 1;
    h2{
        font-size: clamp(var(--font-size-3xl), var(--font-size-4xl) + 2vw ,var(--font-size-7xl));
    }
}

.fc-toolbar-title {
  text-transform: capitalize;
  color: var(--color-white);
}

.fc-col-header-cell-cushion {
  text-transform: capitalize;
}

/* Huvudcontainer */
.fc {
  font-family: var(--font-serif);
}

/* Kalenderrutan */
/* .fc-view-harness {
  border-radius: var(--radius);
} */

/* Ta bort tabellkänslan */
.fc-theme-standard td,
.fc-theme-standard th,
.fc-theme-standard .fc-scrollgrid {
  border-color: var(--color-orange);
}

/* .fc-theme-standard .fc-scrollgrid {
  border-radius: var(--radius);
} */

/* Dagceller */
.fc-daygrid-day {
  transition: background 0.15s;
}

.fc-daygrid-day:hover {
  background: #6e693463 !important;
  cursor: pointer;
}

/* Events */
.fc-event {
  border-radius: var(--radius-md) !important;
  border: none !important;
  padding: 2px 6px !important;
  font-size: 12px !important;
  background: var(--color-white) !important;
  /* color: white; */
}

/* Header */
.fc-col-header-cell {
  font-weight: 500;
  font-size: 13px;
  padding: 8px 0 !important;
  color: var(--color-white);
}

/* Dagens datum */
.fc-day-today {
  background: var(--color-white) !important;
  color: black;
}

.fc-scroller {
  overflow: hidden !important;
}

.fc-scrollgrid-sync-table {
  width: 100% !important;
}

.fc-col-header {
  width: 100% !important;
}

.fc-col-header,
.fc-daygrid-body,
.fc-daygrid-body table {
  width: 100% !important;
  color: var(--color-white);
}

@theme inline {
  --font-heading: var(--font-sans);

  --font-sans: var(--font-geist-sans);

  --color-sidebar-ring: var(--sidebar-ring);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);

  --color-chart-4: var(--chart-4);

  --color-chart-3: var(--chart-3);

  --color-chart-2: var(--chart-2);

  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);

  --color-input: var(--input);

  --color-border: var(--border);

  --color-destructive: var(--destructive);

  --color-accent-foreground: var(--accent-foreground);

  --color-accent: var(--accent);

  --color-muted-foreground: var(--muted-foreground);

  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-secondary: var(--secondary);

  --color-primary-foreground: var(--primary-foreground);

  --color-primary: var(--primary);

  --color-popover-foreground: var(--popover-foreground);

  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);

  --color-card: var(--card);

  --color-foreground: var(--foreground);

  --color-background: var(--background);

  --radius-sm: calc(var(--radius) * 0.6);

  --radius-md: calc(var(--radius) * 0.8);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) * 1.4);

  --radius-2xl: calc(var(--radius) * 1.8);

  --radius-3xl: calc(var(--radius) * 2.2);

  --radius-4xl: calc(var(--radius) * 2.6);
}
.dark {
  --background: oklch(0.145 0 0);

  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);

  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);

  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);

  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);

  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);

  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);

  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.87 0 0);

  --chart-2: oklch(0.556 0 0);

  --chart-3: oklch(0.439 0 0);

  --chart-4: oklch(0.371 0 0);

  --chart-5: oklch(0.269 0 0);

  --sidebar: oklch(0.205 0 0);

  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.269 0 0);

  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.556 0 0);
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
} */

.fc-daygrid-event-dot{
  border-color:var(--color-orange);
}

.fc-event-time, .fc-event-title{
  color: black;
}