.artist-container {
  display: flex;
  justify-content: space-between;
}

.metrics-list {
  display: flex;
  justify-content: space-between;
}

.artist-description {
  max-width: 850px;
  p:nth-child(1) {
    font-size: var(--font-size-2xl);
    margin-bottom: 1rem;
  }
  p {
    font-size: var(--font-size-lg);
  }
  hr {
    margin: 1.5rem 0;
  }
}

@media (max-width: 1200px){
  .artist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
}