.hero-album-container {
  h1 {
    font-size: calc(var(--font-size-7xl) + 3vw);
    line-height: 0.85;
    margin: 1rem 0;
  }
  p{
    margin: 1rem 0 2rem 0;
    font-size: var(--font-size-lg);
  }
}

.hero-album-description {
  max-width: 400px;
}
